In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [128]:
text_reader = pd.read_csv("data/text_comments.csv", iterator=True, chunksize=1000000,lineterminator='\n')

In [129]:
df_linkid = pd.DataFrame()

In [130]:
df_linkid

Empty DataFrame
Columns: []
Index: []

In [ ]:
temp = pd.DataFrame()

In [72]:
temp = pd.concat([temp, text_reader.get_chunk(3)])

In [73]:
temp

,id,score,link_id,author,subreddit,body,created_utc
15,t1_h03wm5i,3,t3_nox3te,SparklySlothGiraffe,BeautyGuruChatter,This. People need to realize that not befittin...,1622486142
16,t1_h047hs7,13,t3_npaygd,shrimplytheworst,BeautyGuruChatter,"I’m saying it’s an issue, and that it’s worth ...",1622491577
17,t1_h04dxjj,18,t3_nox3te,[deleted],BeautyGuruChatter,[deleted],1622494826
18,t1_h04mfpv,1,t3_npahnr,Warm_Mixture_7031,BeautyGuruChatter,Who is this person?,1622499256
19,t1_fto6wqa,6,t3_h0ktg6,alt0119,BeautyGuruChatter,Same. Its more like a whole face of fenty. At ...,1591858186
20,t1_fm2tl2h,2,t3_fspn2b,aanaatraa,BeautyGuruChatter,do they all?,1585705122
21,t1_ftozth5,7,t3_h0wr7a,[deleted],BeautyGuruChatter,Check out this relatively new [post](https://o...,1591882359
22,t1_ftp66pq,1,t3_h0moem,[deleted],BeautyGuruChatter,[removed],1591885865
23,t1_fm31wzy,1,t3_fsmv9p,[deleted],BeautyGuruChatter,[removed],1585710793

In [98]:
temp[temp["author"].str.contains("SlothGiraffe|shrimplytheworst")]

,id,score,link_id,author,subreddit,body,created_utc
15,t1_h03wm5i,3,t3_nox3te,SparklySlothGiraffe,BeautyGuruChatter,This. People need to realize that not befittin...,1622486142
16,t1_h047hs7,13,t3_npaygd,shrimplytheworst,BeautyGuruChatter,"I’m saying it’s an issue, and that it’s worth ...",1622491577

In [116]:
temp[temp.author.str.lower().str.contains("lothgir")]

,id,score,link_id,author,subreddit,body,created_utc
15,t1_h03wm5i,3,t3_nox3te,SparklySlothGiraffe,BeautyGuruChatter,This. People need to realize that not befittin...,1622486142

In [111]:
temp[~((temp["body"] == "[removed]") | (temp["body"] == "[deleted]") | temp["author"].str.lower().str.contains("bot|mod"))]

,id,score,link_id,author,subreddit,body,created_utc
15,t1_h03wm5i,3,t3_nox3te,SparklySlothGiraffe,BeautyGuruChatter,This. People need to realize that not befittin...,1622486142
16,t1_h047hs7,13,t3_npaygd,shrimplytheworst,BeautyGuruChatter,"I’m saying it’s an issue, and that it’s worth ...",1622491577
18,t1_h04mfpv,1,t3_npahnr,Warm_Mixture_7031,BeautyGuruChatter,Who is this person?,1622499256
19,t1_fto6wqa,6,t3_h0ktg6,alt0119,BeautyGuruChatter,Same. Its more like a whole face of fenty. At ...,1591858186
20,t1_fm2tl2h,2,t3_fspn2b,aanaatraa,BeautyGuruChatter,do they all?,1585705122
21,t1_ftozth5,7,t3_h0wr7a,[deleted],BeautyGuruChatter,Check out this relatively new [post](https://o...,1591882359

In [117]:
before = temp[temp["created_utc"] > 1622398743]
after = temp[temp["created_utc"] <= 1622398743]

In [123]:
before = pd.concat([before, temp[temp["created_utc"] > 1622398743]])

In [124]:
before

,id,score,link_id,author,subreddit,body,created_utc
15,t1_h03wm5i,3,t3_nox3te,SparklySlothGiraffe,BeautyGuruChatter,This. People need to realize that not befittin...,1622486142
16,t1_h047hs7,13,t3_npaygd,shrimplytheworst,BeautyGuruChatter,"I’m saying it’s an issue, and that it’s worth ...",1622491577
17,t1_h04dxjj,18,t3_nox3te,[deleted],BeautyGuruChatter,[deleted],1622494826
18,t1_h04mfpv,1,t3_npahnr,Warm_Mixture_7031,BeautyGuruChatter,Who is this person?,1622499256
15,t1_h03wm5i,3,t3_nox3te,SparklySlothGiraffe,BeautyGuruChatter,This. People need to realize that not befittin...,1622486142
16,t1_h047hs7,13,t3_npaygd,shrimplytheworst,BeautyGuruChatter,"I’m saying it’s an issue, and that it’s worth ...",1622491577
17,t1_h04dxjj,18,t3_nox3te,[deleted],BeautyGuruChatter,[deleted],1622494826
18,t1_h04mfpv,1,t3_npahnr,Warm_Mixture_7031,BeautyGuruChatter,Who is this person?,1622499256

In [119]:
after

,id,score,link_id,author,subreddit,body,created_utc
19,t1_fto6wqa,6,t3_h0ktg6,alt0119,BeautyGuruChatter,Same. Its more like a whole face of fenty. At ...,1591858186
20,t1_fm2tl2h,2,t3_fspn2b,aanaatraa,BeautyGuruChatter,do they all?,1585705122
21,t1_ftozth5,7,t3_h0wr7a,[deleted],BeautyGuruChatter,Check out this relatively new [post](https://o...,1591882359
22,t1_ftp66pq,1,t3_h0moem,[deleted],BeautyGuruChatter,[removed],1591885865
23,t1_fm31wzy,1,t3_fsmv9p,[deleted],BeautyGuruChatter,[removed],1585710793

In [28]:
# df_comments = pd.concat([df_comments, text_reader.get_chunk(3)])

In [131]:
for chunk in text_reader: 
    df_linkid = pd.concat([df_linkid, chunk[["id", "link_id"]]])

In [38]:

df_linkid = pd.concat([text_reader.get_chunk(6), df_linkid])

In [42]:
df_linkid = df_linkid[["id", "link_id"]]

In [132]:
df_linkid

                  id    link_id
0         t1_ftjl56l  t3_gzv6so
1         t1_ftjpxmc  t3_gzv6so
2         t1_gzzxfyt  t3_nodb9e
3         t1_gzzy7nc  t3_no6qaj
4         t1_h00tpbp  t3_nolx7p
...              ...        ...
40721545  t1_ew3s0p8  t3_cmccmo
40721546  t1_ennpzrt  t3_bp2f3w
40721547  t1_f02psre  t3_d3f1tn
40721548  t1_f5t4bhw  t3_dp6jz9
40721549  t1_errythg  t3_c3ad9x

[40721550 rows x 2 columns]

In [32]:
df_linkid

                  id    link_id
6         t1_h01dtz3  t3_noo5e0
7         t1_h01fl3q  t3_nn2hz7
8         t1_ftll1qn  t3_h0dpxq
9         t1_ftlsbtj  t3_h0an62
10        t1_h01p3hv  t3_nohxvh
...              ...        ...
40721545  t1_ew3s0p8  t3_cmccmo
40721546  t1_ennpzrt  t3_bp2f3w
40721547  t1_f02psre  t3_d3f1tn
40721548  t1_f5t4bhw  t3_dp6jz9
40721549  t1_errythg  t3_c3ad9x

[40721544 rows x 2 columns]

In [45]:
df_linkid.to_csv('data/submissions_id_linkid.csv')

In [ ]:
# The linkid df doesn't include a couple columns tho...

In [ ]:
# Split by time using this

# temp = df_test.get_chunk(5)
# after = temp[temp["created_utc"] > 1580515200]
# before = ..